<header>
  <h1>Conectando a base de datos de Azure</h1>
  <nav>
    <ul class="nav-links">
      <li class="nav-link__link"><a href="/">Inicio</a></li>
      <li class="nav-link__link"><a href="/users">Usuarios</a></li>
      <!-- Más enlaces de navegación -->
    </ul>
  </nav>
</header>