<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/style.css">
  <title>Tomando datos de Azure</title>
</head>

<body>
  <!--Header-->
  <%- include ("../partials/layouts/header/header")  %>

  <!--Main-->
  <main>
    <h2>Página de Inicio</h2>
    <p>Bienvenido a la página de inicio de mi aplicación Express.</p>
  </main>

  <!--Footer-->
  <%- include ("../partials/layouts/footer/footer")  %>
</body>

</html>